.footer{
    background-color: var(--header-background);
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .footer-warranty{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 16px;
        font-size: 12px;
        font-weight: 400;
        line-height: 140%;
        color: #f5f5f5;
    }
}
.footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    .footer-description{
        font-size: 12px;
        font-weight: 400;
        line-height: 140%;
        color: #f5f5f5;
    }

    .footer-line{
        width: 1px;
        height: 14px;
        background-color: #FFFFFF;
    }
}