@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Montserrat:wght@200;400;700&display=swap');
:root{
    --font-manrope: 'Manrope', sans-serif;
    --header-background: #252F3D;
    --secundary-color-text: #4D5254;
    --button-check-color: #85BF55;
}